.card {
    border: 2px solid black;
    padding: 5px;
    width: 400px;
    border-radius: 5%;
}

.app {
    display: flex;
}

.column {
    flex: 1;
}

.dialog {
    border: 2px solid gray;
    background-color: lightblue;
    padding: 10px;
    width: 300px;
}